body {
	margin: 0;
	height: 100vh;
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 36%,
		rgb(3, 14, 162) 100%
	);
	color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

footer {
	font-size: 0.75rem;
	text-align: center;
	padding: 5px 5px;
}

.loading {
	margin: 30%;
	font-size: 1.5rem;
	text-align: center;
}

.polluto-logo {
	font-size: 3rem;
	color: white;
	margin: 16px 20px;
}

.hidden {
	display: none;
}

.card-container {
	height: 300px;
	width: 250px;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgb(3, 0, 69) 0%,
		rgb(2, 6, 74) 20%,
		rgba(9, 9, 121, 1) 100%
	);
	border-radius: 8px;
}

.card-title {
	margin: 10px 10px;
	padding: 10px 5px;
	font-size: 1rem;
}

.city-text {
	margin: 10px 10px;
	padding: 10px 5px;
	font-size: 0.8em;
}
