/* CARD CONTAINER STYLES */

.card-container {
	height: 350px;
	width: 250px;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgb(3, 0, 69) 0%,
		rgb(2, 6, 74) 20%,
		rgba(9, 9, 121, 1) 100%
	);
	border-radius: 8px;
	margin: -200px;
}

.polluto-icon {
	height: 80px;
	margin: 8px 1px;
	padding: 0px 10px 30px 0px;
	float: left;
}

.city-text {
	font-size: 1.3rem;
}

.line {
	height: 1px;
	background-color: white;
	position: static;
}

.AQI-box {
	border-color: white;
	width: 45%;
	margin: 0 auto;
	border-radius: 15px;
}

.AQIndex {
	text-align: center;
	font-size: 2.5rem;
	margin: 0 auto;
}

.AQtext {
	text-align: center;
	font-size: 1rem;
	margin: -20px 10px;
}

.main-pollutant {
	margin-top: 25px;
}

/* AQI colour classes */

.goodAQI {
	background-color: #a8df5f;
}

.moderateAQI {
	background-color: #dab93f;
}

.highAQI {
	background-color: #fe9b57;
}

.unhealthyAQI {
	background-color: #fd6a69;
}

.veryUnhealthyAQI {
	background-color: #a97bbc;
}

.hazardousAQI {
	background-color: #792029;
}
