/* CARD CONTAINER STYLES */

.card-container {
	position: relative;
	width: 250px;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgb(3, 0, 69) 0%,
		rgb(2, 6, 74) 20%,
		rgb(2, 13, 133) 100%
	);
	border-radius: 8px;
	transform: translate(
		-50%,
		calc(-90% - 10px)
	); /* calc means it will do the math of moving -100% - 10px to accommodate the pointy thing */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.card-container {
		transform: translate(-50%, calc(-75% - 10px));
	}
}

/* Little triangle pointy thing */
.card-container:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	margin-top: -1px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: rgb(2, 6, 74) transparent transparent transparent;
	transform: translate(-50%, 0);
}

.card-header {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid white;
}

.polluto-icon {
	height: 60px;
	margin-right: 5px;
}

.city-text {
	font-size: 1.3rem;
	word-break: break-word;
	margin: 0;
}

.card-content {
	padding: 20px;
}

.AQ-title {
	margin: 0;
	text-align: left;
}

.AQI-box {
	border-color: white;
	width: 50%;
	margin: 20px auto;
	padding: 5px;
	border-radius: 15px;
}

.AQIndex {
	text-align: center;
	font-size: 2.5rem;
	line-height: 1;
	margin: 0 auto;
}

.AQtext {
	text-align: center;
	font-size: 1rem;
	line-height: 1.3rem;
	margin: 0;
}

.timestamp {
	margin: 0;
}

/* AQI colour classes: these need a rethink to comply with a11y standards */
.goodAQI {
	background-color: #53b540;
}

.moderateAQI {
	background-color: #dab93f;
}

.highAQI {
	background-color: #fe9b57;
}

.unhealthyAQI {
	background-color: #fd6a69;
}

.veryUnhealthyAQI {
	background-color: #a97bbc;
}

.hazardousAQI {
	background-color: #792029;
}
