body {
	margin: 0;
	height: 100%;
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 36%,
		rgb(3, 14, 162) 100%
	);
	color: white;
}

* {
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.loading {
	margin: 30%;
	font-size: 1.5rem;
	text-align: center;
}

p {
	font-size: 0.65rem;
}

/* footer {
	font-size: 0.75rem;
	text-align: center;
	padding: 5px 5px;
	position: absolute;
	z-index: 1;
	bottom: -10px;
	width: 100%;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 36%,
		rgb(3, 14, 162) 100%
	);
} */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.polluto-logo {
		font-size: 2.5rem;
		color: white;
		margin: 10px 20px;
	}

	.tagline {
		font-size: 0.8rem;
		margin: 0px 20px 10px 20px;
	}

	footer {
		bottom: -30px;
	}
}
